<div class="contacts h-100">
    <md-content ng-if="list">
        <h2 class="txt-center">Contatos</h2>
        <md-divider></md-divider>
        <md-list flex>
            <md-list-item class="md-2-line" ng-click="null">
                <img ng-src="assets/images/jasmine.png" class="md-avatar" alt="" />
                <div class="md-list-item-text" layout="column">
                    <h3>Leonardo</h3>
                </div>
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="null">
                <img ng-src="assets/images/jasmine.png" class="md-avatar" alt="" />
                <div class="md-list-item-text" layout="column">
                    <h3>Leonardo</h3>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
    <md-content>
        <h2 class="txt-center">Pesquise um usuário</h2>
        <md-input-container class="md-icon-float md-block">
            <!-- Use floating label instead of placeholder -->
            <label>E-mail</label>
            <md-icon md-font-icon="material-icon">search</md-icon>
            <input type="text">
        </md-input-container>
        <md-divider></md-divider>
        <md-list flex>
            <md-list-item class="md-2-line" ng-click="null">
                <img ng-src="assets/images/jasmine.png" class="md-avatar" alt="" />
                <div class="md-list-item-text" layout="column">
                    <h3>Leonardo</h3>
                </div>
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="null">
                <img ng-src="assets/images/jasmine.png" class="md-avatar" alt="" />
                <div class="md-list-item-text" layout="column">
                    <h3>Leonardo</h3>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
    <md-button class="md-fab new" aria-label="Encerrar">
        <md-icon md-font-icon="material-icon">add</md-icon>
    </md-button>
</div>