<div class="channels" ng-cloak>
    <md-content>
        <md-tabs class="tabs md-primary" md-dynamic-height md-border-bottom md-center-tabs>
            <md-tab label="Conversas">
                <md-content class="md-padding">
                    <div layout-gt-sm="row">
                        <md-list>
                            <md-list-item class="md-2-line" ng-click="channels.getChat(chat)" ng-repeat="chat in channels.chats">
                                <img ng-src="{{chat.user.avatar}}" class="md-avatar" alt="" />
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{chat.user.name}}</h3>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>