<div layout="column" class="messages-view" >
    <header flex="10">
        <md-icon class="back" ng-click="messages.back()" ng-show="isMobile" md-font-icon="material-icon">keyboard_backspace</md-icon>
        <div layout="row" layout-align="space-around center">
            <div>
                <img src="{{messages.receiver.avatar}}" alt="">
            </div>
            <div>
                <h2>{{messages.receiver.name}}</h2>
            </div>
            <div >
                <md-button class="md-raised md-cornered md-icon-button">
                    <md-icon md-font-icon="material-icon">videocam</md-icon>
                </md-button>
            </div>
        </div>
    </header>
    <main flex="75">
        <div class="clear-both" ng-repeat="item in messages.messages track by $index">
            <div class="talk" ng-class="{'remote':item.user_id != me.uid,'local':item.user_id == me.uid}">
                {{item.message}}
            </div>
        </div>
    </main>
    <footer flex="15">
        <div layout="row" layout-align="center center">
            <div flex="90">
                <md-input-container class="md-block">
                    <label>Envie uma mensagem</label>
                    <textarea ng-model="message.textSend" md-maxlength="150" rows="3" md-select-on-focus></textarea>
                </md-input-container>
            </div>
            <div flex="10" class="txt-center">
                <md-button class="md-raised md-cornered md-icon-button" ng-click="messages.sendMessage(message.textSend)" aria-label="More">
                    <md-icon md-font-icon="material-icon">send</md-icon>
                </md-button>
            </div>
        </div>
    </footer>
</div>
