<div class="profile" layout="column" layout-align="center center">
    <div class="modalcut" ng-if="profile.myImage!=''">
        <ui-cropper image="profile.myImage" result-image="profile.myCroppedImage"></ui-cropper>
        <md-button md-ripple-size="full" ng-click="profile.saveAvatar()" type="button" class="md-primary md-raised">Salvar</md-button>
    </div>
    <div class="avatar">
        <img class="cursor-pointer" ngf-select="profile.sendFile($file,$event)" title="Clique para alterar" src="{{profile.user.avatar}}" alt="">
    </div>
    <form ng-submit="profile.saveProfile()" class="txt-center">
        <md-input-container class="md-block">
            <label>Email</label>
            <input disabled ng-model="profile.user.email" type="email">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Telefone</label>
            <input mask="(99)9?9999-9999" ng-model="profile.user.phone_number" type="text">
        </md-input-container>
        <md-button type="submit" class="md-primary md-raised">Salvar</md-button>
    </form>
</div>