.dashboard{
    height: 100vh;
}
.dashboard h1{
    margin:0;
}
.layout-row{
    height: 100%;
}
.dashboard .main{
    background:red;
    height: 90%;
}
.dashboard .messages{
    background:blue;
    height: 90%;
}