.dashboard{
    height: 100vh;
    overflow: scroll;
}
.dashboard h1{
    margin:0;
}
.layout-row{
    height: 100%;
}
.dashboard .main{
    background:red;
    height: 90%;
}
.dashboard .messages{
    background:blue;
    height: 90%;
}
.dashboard md-toolbar img{
    width: 40px;
    height: 40px;
    margin-right:10px;
}
.dashboard #menu{
    background:yellow;
    display:none;
}