.dashboard{
    height: 100vh;
    overflow: scroll;
}
.dashboard h1{
    margin:0;
}
.layout-row{
    height: 100%;

}
.dashboard .main{
    height: 90%;
}
.dashboard .messages{
    height: 90%;
}
.dashboard md-toolbar img{
    width: 40px;
    height: 40px;
    margin-right:10px;
}
.dashboard #menu{
    display:none;
}
.dashboard md-toolbar h5{
    text-align: center;
    overflow-wrap: break-word;
    overflow: hidden;
}
.dashboard  .banner{
    background: #666666;
}
.md-avatar{
    border-radius: 50%;
}