<div class="dashboard">
    <div layout="row" class="h-100">
        <div class="main" style="height: 100%;" flex-gt-sm="30" flex="{{dashboard.main}}">
            <div class="h-100" layout="column">
                <md-toolbar flex="10" class="md-hue-2" layout-align="center center">
                    <div class="md-toolbar-tools" layout="row" layout-align="center center">
                        <div flex="30">
                            <img  ng-src="assets/images/jasmine.png" class="md-avatar">
                        </div>
                        <h5 flex="50">Icon Buttons</h5>
                        <md-button flex="20"class="md-icon-button" ng-click="dashboard.menuToggle()" aria-label="More">
                            <md-icon md-font-icon="material-icon">more_vert</md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <div id="menu">
                    <md-list class="pd-0">
                        <md-list-item class="md-2-line" ng-click="null">
                            <md-icon md-font-icon="material-icon">perm_identity</md-icon>
                            <div class="md-list-item-text" layout="column">
                                <h3>Perfil</h3>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-list-item class="md-2-line" ng-click="null">
                            <md-icon md-font-icon="material-icon">chat</md-icon>
                            <div class="md-list-item-text" layout="column">
                                <h3>Conversas</h3>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-list-item class="md-2-line" ng-click="null">
                            <md-icon md-font-icon="material-icon">contacts</md-icon>
                            <div class="md-list-item-text" layout="column">
                                <h3>Contatos</h3>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-list-item class="md-2-line" ng-click="null">
                            <md-icon md-font-icon="material-icon">exit_to_app</md-icon>
                            <div class="md-list-item-text" layout="column">
                                <h3>Sair</h3>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </div>
                <div flex="" ng-if="!dashboard.menu" ui-view = "main"></div>
            </div>
        </div>
        <div class="messages h-100" flex-gt-sm="70" flex="{{dashboard.messages}}" ui-view="messages">
        </div>
    </div>
    <!-- <div layout="column">
    
        <div flex="66">First item in column</div>
        <div flex="33">Second item in column</div>
    
    </div> -->

    <!-- <div ui-view = "main">
        
    </div>
    <div ui-view="messages">
    
    </div> -->
</div>